body{
background:#6AC5AC;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
text-align: center;
position: relative;
animation: mymove 5s;
}


@keyframes mymove {
        
    from {left: 0px;}
        to {left: 55px;}
    
    }





.grid-container
{
display: grid;
grid-template-columns:auto auto auto auto;
grid-gap: 20px 50px;
border: 1px transparent;
margin: 0px 75px;
text-align: center;
justify-content:space-evenly;
}

.griditem 
{

        height: 30px;
        border: 1px solid transparent;
        background-color: white;
        border-radius: 5px;
        height: 30vh;
        width: 20vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 3px;
        transition: box-shadow 0.3s ease-in-out;
        background-color: aliceblue;
}
.griditem:hover{
    box-shadow: 4px 6px;
    
}


img

{
height:10vh ;

}


@media only screen and (min-width: 1200px) {
   
    .grid-containerr{
        grid-template-columns: auto auto auto auto;

    }
}
@media only screen and (max-width: 768px) {
   
    .grid-container{
        grid-template-columns: auto auto auto ;

    }
}
@media only screen and (max-width: 576px) {
   
    .grid-container{
        grid-template-columns: auto auto ;
        
    }
    .grid-container{
        display:none;
    }
}
